
.body{
    padding-left: 200px;
    padding-right: 200px;
}
.photo{
    width: 30vw;
}

.sign{
    width: 5vw;
    margin: 20px;
}

h1 { color: #333333; font-family: 'Bitter', serif; font-size: 50px; font-weight: normal; line-height: 54px; margin: 0 0 54px; }

h2,h3 { color: #333333; font-family: 'Bitter', serif; font-size: 34px; font-weight: normal; line-height: 34px; margin: 0 0 34px; }

p { color: #333333; font-family: Georgia, serif; font-size: 18px; line-height: 28px; margin: 0 0 28px; }


p:first-of-type { font-size: 26px; line-height: 36px; margin: 0 0 28px; }


a { color: #c73036; font-family: Georgia, serif; text-decoration: underline; }


a:hover { color: #333333; text-decoration: underline; }


